.search-wrap {
  width: min(600px, 100vw);
  margin-top: 5rem;
  position: relative;

  input {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
  }

  .fa-search {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: gray;
    z-index: 100;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
