.search-result {
  max-width: 100%;
  padding: 4rem 2rem;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-bar {
    margin: auto;
    width: 600px;
    position: relative;

    input {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.3rem;
      border-radius: 10px;
      outline: none;
      border: 0.5px solid grey;
    }

    .fa-search {
      position: absolute;
      right: 1rem;
      top: 1.3rem;
      color: gray;
      z-index: 100;
      font-size: 1.3rem;
      font-weight: 100;
    }
  }
  .logo {
    color: green;
    letter-spacing: 6px;
    font-family: sans-serif;
    float: right;
  }
  h1 {
    font-size: 2rem;
    font-weight: 300;
    font-family: sans-serif;
    margin: 2rem 0;
  }

  section {
    display: flex;
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 80%;

      .error {
        text-align: center;
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: bold;
        justify-content: center;
      }
    }
  }
}
